
.btn-link {
    align-items: center;
    padding: 12px;
    border: solid 2px #1E90FF;
    border-radius: 10px;
    color: #1E90FF;
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    p {
        margin: 0;
    }
}

.btn {
    color: #1E90FF;
    font-size: 17px;
    font-weight:500;
}

a:hover {
    background:#2685e4;
}